In [ ]:
!pip install pandas

In [23]:
import pandas as pd

In [30]:
df = pd.read_csv('movies.csv')

<p style="direction: rtl; text-align: right; font-size: 18px; font-family: B Nazanin;">اطلاعات کلی دیتاست جمع‌آوری شده به صورت زیر قابل مشاهده می‌باشد</p>

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13839 entries, 0 to 13838
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    13839 non-null  int64
 1   name          13839 non-null  object
 2   year          13839 non-null  int64
 3   score         13839 non-null  float64
 4   voters_count  13839 non-null  object
 5   plot          13831 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 648.8+ KB

In [32]:
df.head(10)

,Unnamed: 0,name,year,score,voters_count,plot
0,0,1. Road House,1989,6.7,92K,A bouncer hired to clean up the baddest honkyt...
1,1,2. Dune,1984,6.3,177K,A Duke's son leads desert warriors against the...
2,2,3. Beetlejuice,1988,7.5,337K,The spirits of a deceased couple are harassed ...
3,3,4. Ghostbusters,1984,7.8,445K,Three parapsychologists forced out of their un...
4,4,5. The Crow,1994,7.5,201K,A man brutally murdered comes back to life as ...
5,5,6. The Shawshank Redemption,1994,9.3,2.9M,"Over the course of several years, two convicts..."
6,6,7. The Godfather,1972,9.2,2M,The aging patriarch of an organized crime dyna...
7,7,8. Come and See,1985,8.4,96K,"After finding an old rifle, a young boy joins ..."
8,8,9. The Vanishing,1988,7.7,44K,"Rex and Saskia, a young couple in love, are on..."
9,9,10. Eternal Sunshine of the Spotless Mind,2004,8.3,1.1M,"When their relationship turns sour, a couple u..."

<p style="direction: rtl; text-align: right; font-size: 18px; font-family: B Nazanin;">ابتدای نام فیلم‌ها دارای شماره می‌باشد که می‌خواهیم آن‌ها را حذف کنیم. این شماره‌ها ترتیب فیلم در لیست فیلم‌ها می باشد. در همه موارد بعد از عدد یک نقطه وجود دارد. با استفاده از این الگو اولین نقطه‌ای که در اسم آمده است را پیدا می‌کنیم و فقط بعد آن نقطه را نگه‌ می‌داریم</p>

In [33]:
for i in range(df.shape[0]):
    first_dot = df.loc[i, 'name'].find('.')
    df.loc[i, 'name'] = df.loc[i, 'name'][first_dot+1:]

In [34]:
df.head(10)

,Unnamed: 0,name,year,score,voters_count,plot
0,0,Road House,1989,6.7,92K,A bouncer hired to clean up the baddest honkyt...
1,1,Dune,1984,6.3,177K,A Duke's son leads desert warriors against the...
2,2,Beetlejuice,1988,7.5,337K,The spirits of a deceased couple are harassed ...
3,3,Ghostbusters,1984,7.8,445K,Three parapsychologists forced out of their un...
4,4,The Crow,1994,7.5,201K,A man brutally murdered comes back to life as ...
5,5,The Shawshank Redemption,1994,9.3,2.9M,"Over the course of several years, two convicts..."
6,6,The Godfather,1972,9.2,2M,The aging patriarch of an organized crime dyna...
7,7,Come and See,1985,8.4,96K,"After finding an old rifle, a young boy joins ..."
8,8,The Vanishing,1988,7.7,44K,"Rex and Saskia, a young couple in love, are on..."
9,9,Eternal Sunshine of the Spotless Mind,2004,8.3,1.1M,"When their relationship turns sour, a couple u..."

In [35]:
df.to_csv('movies.csv')