In [14]:
!pip install pandas nltk

Requirement already satisfied: pandas in c:\users\hamid\appdata\local\programs\python\python312\lib\site-packages (2.2.1)
Collecting nltk
  Downloading nltk-3.8.1-py3-none-any.whl.metadata (2.8 kB)
Requirement already satisfied: numpy<2,>=1.26.0 in c:\users\hamid\appdata\local\programs\python\python312\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hamid\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hamid\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hamid\appdata\local\programs\python\python312\lib\site-packages (from pandas) (2024.1)
Collecting click (from nltk)
  Downloading click-8.1.7-py3-none-any.whl.metadata (3.0 kB)
Collecting joblib (from nltk)
  Downloading joblib-1.3.2-py3-none-any.whl.metadata (5.4 kB)
Collecting regex>=2021.8.3 (from nltk)
  Downloading regex-2023.12.25-cp312-cp312-win_amd64.whl.metadata (41 kB)
     ---------------------------------------- 0.0/42.0 kB ? eta -:--:--
     --------- ------------------------------ 10.2/42.0 kB ? eta -:--:--
     --------- ------------------------------ 10.2/42.0 kB ? eta -:--:--
     --------- ------------------------------ 10.2/42.0 kB ? eta -:--:--
     --------------------------- ---------- 30.7/42.0 kB 108.9 kB/s eta 0:00:01
     --------------------------- ---------- 30.7/42.0 kB 108.9 kB/s eta 0:00:01
     --------------------------- ---------- 30.7/42.0 kB 108.9 kB/s eta 0:00:01
     --------------------------- ---------- 30.7/42.0 kB 108.9 kB/s eta 0:00:01
     --------------------------------------- 42.0/42.0 kB 88.1 kB/s eta 0:00:00
Requirement already satisfied: tqdm in c:\users\hamid\appdata\local\programs\python\python312\lib\site-packages (from nltk) (4.66.2)
Requirement already satisfied: six>=1.5 in c:\users\hamid\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: colorama in c:\users\hamid\appdata\local\programs\python\python312\lib\site-packages (from click->nltk) (0.4.6)
Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.5 MB ? eta -:--:--
   - -------------------------------------- 0.0/1.5 MB 991.0 kB/s eta 0:00:02
   - -------------------------------------- 0.0/1.5 MB 991.0 kB/s eta 0:00:02
   - -------------------------------------- 0.1/1.5 MB 363.1 kB/s eta 0:00:04
   --- ------------------------------------ 0.1/1.5 MB 708.1 kB/s eta 0:00:02
   ---- ----------------------------------- 0.2/1.5 MB 756.6 kB/s eta 0:00:02
   ---- ----------------------------------- 0.2/1.5 MB 756.6 kB/s eta 0:00:02
   ----- ---------------------------------- 0.2/1.5 MB 593.2 kB/s eta 0:00:03
   -------- ------------------------------- 0.3/1.5 MB 791.9 kB/s eta 0:00:02
   ---------- ----------------------------- 0.4/1.5 MB 946.4 kB/s eta 0:00:02
   ---------- ----------------------------- 0.4/1.5 MB 946.4 kB/s eta 0:00:02
   ----------- ---------------------------- 0.5/1.5 MB 853.3 kB/s eta 0:00:02
   --------------- ------------------------ 0.6/1.5 MB 1.0 MB/s eta 0:00:01
   ------------------ --------------------- 0.7/1.5 MB 1.1 MB/s eta 0:00:01
   -------------------- ------------------- 0.8/1.5 MB 1.1 MB/s eta 0:00:01
   --------------------- ------------------ 0.8/1.5 MB 1.1 MB/s eta 0:00:01
   ------------------------ --------------- 0.9/1.5 MB 1.2 MB/s eta 0:00:01
   --------------------------- ------------ 1.0/1.5 MB 1.3 MB/s eta 0:00:01
   ------------------------------- -------- 1.2/1.5 MB 1.4 MB/s eta 0:00:01
   ---------------------------------- ----- 1.3/1.5 MB 1.4 MB/s eta 0:00:01
   ------------------------------------ --- 1.4/1.5 MB 1.5 MB/s eta 0:00:01
   -------------------------------------- - 1.4/1.5 MB 1.5 MB/s eta 0:00:01
   ---------------------------------------- 1.5/1.5 MB 1.5 MB/s eta 0:00:00
Downloading regex-2023.12.25-cp312-cp312-win_amd64.whl (268 kB)
   ---------------------------------------- 0.0/268.9 kB ? eta -:--:--
   ------------- -------------------------- 92.2/268.9 kB 5.1 MB/s eta 0:00:01
   ------------------------------------ --- 245.8/268.9 kB 3.0 MB/s eta 0:00:01
   ---------------------------------------- 268.9/268.9 kB 2.8 MB/s eta 0:00:00
Downloading click-8.1.7-py3-none-any.whl (97 kB)
   ---------------------------------------- 0.0/97.9 kB ? eta -:--:--
   ---------------------------------------- 97.9/97.9 kB 5.5 MB/s eta 0:00:00
Downloading joblib-1.3.2-py3-none-any.whl (302 kB)
   ---------------------------------------- 0.0/302.2 kB ? eta -:--:--
   ------------ --------------------------- 92.2/302.2 kB 5.5 MB/s eta 0:00:01
   ------------------ --------------------- 143.4/302.2 kB 1.7 MB/s eta 0:00:01
   ---------------------------------------  297.0/302.2 kB 2.3 MB/s eta 0:00:01
   ---------------------------------------- 302.2/302.2 kB 2.3 MB/s eta 0:00:00
Installing collected packages: regex, joblib, click, nltk
Successfully installed click-8.1.7 joblib-1.3.2 nltk-3.8.1 regex-2023.12.25

In [4]:
import pandas as pd

In [30]:
df = pd.read_csv('movies.csv')

<p style="direction: rtl; text-align: right; font-size: 18px; font-family: B Nazanin;">اطلاعات کلی دیتاست جمع‌آوری شده به صورت زیر قابل مشاهده می‌باشد</p>

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13839 entries, 0 to 13838
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    13839 non-null  int64
 1   name          13839 non-null  object
 2   year          13839 non-null  int64
 3   score         13839 non-null  float64
 4   voters_count  13839 non-null  object
 5   plot          13831 non-null  object
dtypes: float64(1), int64(2), object(3)
memory usage: 648.8+ KB

In [32]:
df.head(10)

,Unnamed: 0,name,year,score,voters_count,plot
0,0,1. Road House,1989,6.7,92K,A bouncer hired to clean up the baddest honkyt...
1,1,2. Dune,1984,6.3,177K,A Duke's son leads desert warriors against the...
2,2,3. Beetlejuice,1988,7.5,337K,The spirits of a deceased couple are harassed ...
3,3,4. Ghostbusters,1984,7.8,445K,Three parapsychologists forced out of their un...
4,4,5. The Crow,1994,7.5,201K,A man brutally murdered comes back to life as ...
5,5,6. The Shawshank Redemption,1994,9.3,2.9M,"Over the course of several years, two convicts..."
6,6,7. The Godfather,1972,9.2,2M,The aging patriarch of an organized crime dyna...
7,7,8. Come and See,1985,8.4,96K,"After finding an old rifle, a young boy joins ..."
8,8,9. The Vanishing,1988,7.7,44K,"Rex and Saskia, a young couple in love, are on..."
9,9,10. Eternal Sunshine of the Spotless Mind,2004,8.3,1.1M,"When their relationship turns sour, a couple u..."

<p style="direction: rtl; text-align: right; font-size: 18px; font-family: B Nazanin;">ابتدای نام فیلم‌ها دارای شماره می‌باشد که می‌خواهیم آن‌ها را حذف کنیم. این شماره‌ها ترتیب فیلم در لیست فیلم‌ها می باشد. در همه موارد بعد از عدد یک نقطه وجود دارد. با استفاده از این الگو اولین نقطه‌ای که در اسم آمده است را پیدا می‌کنیم و فقط بعد آن نقطه را نگه‌ می‌داریم</p>

In [33]:
for i in range(df.shape[0]):
    first_dot = df.loc[i, 'name'].find('.')
    df.loc[i, 'name'] = df.loc[i, 'name'][first_dot+1:]

In [34]:
df.head(10)

,Unnamed: 0,name,year,score,voters_count,plot
0,0,Road House,1989,6.7,92K,A bouncer hired to clean up the baddest honkyt...
1,1,Dune,1984,6.3,177K,A Duke's son leads desert warriors against the...
2,2,Beetlejuice,1988,7.5,337K,The spirits of a deceased couple are harassed ...
3,3,Ghostbusters,1984,7.8,445K,Three parapsychologists forced out of their un...
4,4,The Crow,1994,7.5,201K,A man brutally murdered comes back to life as ...
5,5,The Shawshank Redemption,1994,9.3,2.9M,"Over the course of several years, two convicts..."
6,6,The Godfather,1972,9.2,2M,The aging patriarch of an organized crime dyna...
7,7,Come and See,1985,8.4,96K,"After finding an old rifle, a young boy joins ..."
8,8,The Vanishing,1988,7.7,44K,"Rex and Saskia, a young couple in love, are on..."
9,9,Eternal Sunshine of the Spotless Mind,2004,8.3,1.1M,"When their relationship turns sour, a couple u..."

In [35]:
df.to_csv('movies.csv')

### In this section, we convert the plot for all movies to lowercase format. This task is part of the normalization process, and our goal is to standardize the format of all words. For example, the words "He," "HE," and "he" have the same meaning but are not considered identical in technical terms.

In [40]:
for i in range(df.shape[0]):
    df.loc[i, 'plot'] =  str(df.loc[i, 'plot']).lower()
df.to_csv('movies.csv')

,Unnamed: 0,name,year,score,voters_count,plot
0,0,Road House,1989,6.7,92K,a bouncer hired to clean up the baddest honkyt...
1,1,Dune,1984,6.3,177K,a duke's son leads desert warriors against the...
2,2,Beetlejuice,1988,7.5,337K,the spirits of a deceased couple are harassed ...
3,3,Ghostbusters,1984,7.8,445K,three parapsychologists forced out of their un...
4,4,The Crow,1994,7.5,201K,a man brutally murdered comes back to life as ...
5,5,The Shawshank Redemption,1994,9.3,2.9M,"over the course of several years, two convicts..."
6,6,The Godfather,1972,9.2,2M,the aging patriarch of an organized crime dyna...
7,7,Come and See,1985,8.4,96K,"after finding an old rifle, a young boy joins ..."
8,8,The Vanishing,1988,7.7,44K,"rex and saskia, a young couple in love, are on..."
9,9,Eternal Sunshine of the Spotless Mind,2004,8.3,1.1M,"when their relationship turns sour, a couple u..."

### Converting Abbreviation form to complete form. For example: I'm -> I am

In [56]:
abbrev_dict = {
    "i'm": "i am",
    "i'm'a": "i am about to",
    "i'm'o": "i am going to",
    "i'll": "i will",
    "i'll've": "i will have",
    "i'd've": "i would have",
    "ain't": "am not",
    "aren't": "are not",
    "can't": "cannot",
    "can't've": "cannot have",
    "'cause": "because",
    "could've": "could have",
    "couldn't": "could not",
    "couldn't've": "could not have",
    "didn't": "did not",
    "doesn't": "does not",
    "don't": "do not",
    "hadn't": "had not",
    "hadn't've": "had not have",
    "hasn't": "has not",
    "haven't": "have not",
    "he'd": "he would",
    "he'd've": "he would have",
    "he'll": "he will",
    "he'll've": "he will have",
    "he's": "he is",
    "how'd": "how did",
    "how'd'y": "how do you",
    "how'll": "how will",
    "how's": "how is",
    "i'd": "i would",
    "i've": "i have",
    "isn't": "is not",
    "it'd": "it had",
    "it'd've": "it would have",
    "it'll": "it will",
    "it'll've": "it will have",
    "it's": "it is",
    "let's": "let us",
    "ma'am": "madam",
    "mayn't": "may not",
    "might've": "might have",
    "mightn't": "might not",
    "mightn't've": "might not have",
    "must've": "must have",
    "mustn't": "must not",
    "mustn't've": "must not have",
    "needn't": "need not",
    "needn't've": "need not have",
    "o'clock": "of the clock",
    "oughtn't": "ought not",
    "oughtn't've": "ought not have",
    "shan't": "shall not",
    "sha'n't": "shall not",
    "shan't've": "shall not have",
    "she'd": "she would",
    "she'd've": "she would have",
    "she'll": "she will",
    "she'll've": "she will have",
    "she's": "she is",
    "should've": "should have",
    "shouldn't": "should not",
    "shouldn't've": "should not have",
    "so've": "so have",
    "so's": "so is",
    "that'd": "that would",
    "that'd've": "that would have",
    "that's": "that is",
    "there'd": "there would",
    "there'd've": "there would have",
    "there's": "there is",
    "they'd": "they would",
    "they'd've": "they would have",
    "they'll": "they will",
    "they'll've": "they will have",
    "they're": "they are",
    "they've": "they have",
    "to've": "to have",
    "wasn't": "was not",
    "we'd": "we would",
    "we'd've": "we would have",
    "we'll": "we will",
    "we'll've": "we will have",
    "we're": "we are",
    "we've": "we have",
    "weren't": "were not",
    "what'll": "what will",
    "what'll've": "what will have",
    "what're": "what are",
    "what's": "what is",
    "what've": "what have",
    "when's": "when is",
    "when've": "when have",
    "where'd": "where did",
    "where's": "where is",
    "where've": "where have",
    "who'll": "who will",
    "who'll've": "who will have",
    "who's": "who is",
    "who've": "who have",
    "why's": "why is",
    "why've": "why have",
    "will've": "will have",
    "won't": "will not",
    "won't've": "will not have",
    "would've": "would have",
    "wouldn't": "would not",
    "wouldn't've": "would not have",
    "y'all": "you all",
    "y'all'd": "you all would",
    "y'all'd've": "you all would have",
    "y'all're": "you all are",
    "y'all've": "you all have",
    "you'd": "you would",
    "you'd've": "you would have",
    "you'll": "you will",
    "you'll've": "you will have",
    "you're": "you are",
    "you've": "you have"
}
for i in range(df.shape[0]):
    for key, value in abbrev_dict.items():
        df.loc[i, 'plot'] =  str(df.loc[i, 'plot']).replace(key, value)

df.to_csv('movies.csv')
df.loc[10327, 'plot']

'a french woman is a french woman. she is unable to refuse the wonderful gift of love. and i am willing to pay a high price for it.'

### Now we want to delete punctuation from plot text.

In [57]:
!pip install tqdm

Collecting tqdm
  Downloading tqdm-4.66.2-py3-none-any.whl.metadata (57 kB)
     ---------------------------------------- 0.0/57.6 kB ? eta -:--:--
     ------- -------------------------------- 10.2/57.6 kB ? eta -:--:--
     ------- -------------------------------- 10.2/57.6 kB ? eta -:--:--
     ------- -------------------------------- 10.2/57.6 kB ? eta -:--:--
     ------- -------------------------------- 10.2/57.6 kB ? eta -:--:--
     ------- -------------------------------- 10.2/57.6 kB ? eta -:--:--
     ------- -------------------------------- 10.2/57.6 kB ? eta -:--:--
     ------- -------------------------------- 10.2/57.6 kB ? eta -:--:--
     ------- -------------------------------- 10.2/57.6 kB ? eta -:--:--
     ------- -------------------------------- 10.2/57.6 kB ? eta -:--:--
     ------- -------------------------------- 10.2/57.6 kB ? eta -:--:--
     ------- -------------------------------- 10.2/57.6 kB ? eta -:--:--
     ------- -------------------------------- 10.2/57.6 kB ? eta -:--:--
     ------- -------------------------------- 10.2/57.6 kB ? eta -:--:--
     --------------------------- ----------- 41.0/57.6 kB 45.7 kB/s eta 0:00:01
     --------------------------- ----------- 41.0/57.6 kB 45.7 kB/s eta 0:00:01
     --------------------------- ----------- 41.0/57.6 kB 45.7 kB/s eta 0:00:01
     --------------------------- ----------- 41.0/57.6 kB 45.7 kB/s eta 0:00:01
     --------------------------------------- 57.6/57.6 kB 57.2 kB/s eta 0:00:00
Requirement already satisfied: colorama in c:\users\hamid\appdata\local\programs\python\python312\lib\site-packages (from tqdm) (0.4.6)
Downloading tqdm-4.66.2-py3-none-any.whl (78 kB)
   ---------------------------------------- 0.0/78.3 kB ? eta -:--:--
   ----- ---------------------------------- 10.2/78.3 kB ? eta -:--:--
   ------------------------------- -------- 61.4/78.3 kB 1.1 MB/s eta 0:00:01
   ------------------------------- -------- 61.4/78.3 kB 1.1 MB/s eta 0:00:01
   ------------------------------- -------- 61.4/78.3 kB 1.1 MB/s eta 0:00:01
   ---------------------------------------- 78.3/78.3 kB 398.0 kB/s eta 0:00:00
Installing collected packages: tqdm
Successfully installed tqdm-4.66.2

In [3]:
import string
from tqdm import tqdm

In [59]:
trans_table = str.maketrans('', '', string.punctuation)
for i in tqdm(range(df.shape[0])):
        df.loc[i, 'plot'] =  str(df.loc[i, 'plot']).translate(trans_table)

100%|██████████| 13839/13839 [00:13<00:00, 1042.40it/s]

In [62]:
df.to_csv('movies.csv')

### In this section we turn the number of voters to a normal form of integer. For example: 92K -> 92000 or 1.2M -> 1200000

In [ ]:
for i in range(df.shape[0]):
    if df.loc[i, 'voters_count'][-1] == 'K':
        df.loc[i, 'voters_count'] = int(float(df.loc[i, 'voters_count'][:-1]) * 1000)
    else:
        df.loc[i, 'voters_count'] = int(float(df.loc[i, 'voters_count'][:-1]) * 1000000)

df.to_csv('movies.csv')

In [13]:
df.head(10)

,Unnamed: 0.1,Unnamed: 0,name,year,score,voters_count,plot
0,0,0,Road House,1989,6.7,92000,a bouncer hired to clean up the baddest honkyt...
1,1,1,Dune,1984,6.3,177000,a dukes son leads desert warriors against the ...
2,2,2,Beetlejuice,1988,7.5,337000,the spirits of a deceased couple are harassed ...
3,3,3,Ghostbusters,1984,7.8,445000,three parapsychologists forced out of their un...
4,4,4,The Crow,1994,7.5,201000,a man brutally murdered comes back to life as ...
5,5,5,The Shawshank Redemption,1994,9.3,2900000,over the course of several years two convicts ...
6,6,6,The Godfather,1972,9.2,2000000,the aging patriarch of an organized crime dyna...
7,7,7,Come and See,1985,8.4,96000,after finding an old rifle a young boy joins t...
8,8,8,The Vanishing,1988,7.7,44000,rex and saskia a young couple in love are on v...
9,9,9,Eternal Sunshine of the Spotless Mind,2004,8.3,1100000,when their relationship turns sour a couple un...

### Now we want to tokenize the plot for every movie and save it in a new column(tokens)

In [17]:
import nltk
nltk.download('punkt')
from nltk.tokenize import word_tokenize

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Hamid\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

In [42]:
tokens = []
#indices = list(range(df.shape[0]))

for i in tqdm(range(df.shape[0])):
    plot_tokens = word_tokenize(str(df.loc[i, 'plot']))
    tokens.append(plot_tokens)
df.insert(len(df.columns),'tokens', tokens)

100%|██████████| 13839/13839 [00:02<00:00, 5214.58it/s]